DB_URL=jdbc:mysql://localhost:4747/fuji_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=se47
DB_PASSWORD=capstone2@se47

JWT_SECRET=DayLaSecretKeyCuaFujiHubKhongDuocTietLo12345
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nguyennhat08004@gmail.com
MAIL_PASSWORD=yqyi cuca tfpd vxhl

CLOUDINARY_CLOUD_NAME=dxvtxi34m
CLOUDINARY_API_KEY=948528152547725
CLOUDINARY_API_SECRET=CO5jJASeKxixw2yb7rK79KrJxqg

SERVER_PORT=8181
